alias nano="nano -m"
alias largest="du -ha | sort -k1hr | head -n"
alias ubuntu="proot-distro login ubuntu"
alias arch="proot-distro login archlinux"
alias rm="rm -rf"
alias neofetch="neofetch --ascii-colors 999999 --ascii ~/.config/neofetch/ascii"
